/* Cart.css */
body {
  background-color: #000000;
}
.cart-title{
  color:#ffffff;
}
.cart-container {
 /* background-color: #000000;*/
  padding: 20px;
  
  max-width: 1000px;
  text-align: center;
  color: #ed3737;
}

.cart-buttons {
  margin-top: 20px;
}

.cart-button {
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  font-weight: bold;
}

.back-button {
  background-color: #00b0ff;
  color: #fff;
}

.pay-button {
  background-color: #76ff03;
  color: #000;
}

.cart-button:hover {
  opacity: 0.8;
}

.back-button:hover {
  background-color: #0091ea;
}

.pay-button:hover {
  background-color: #64dd17;
}
