body{
  background-color: #fff;
}
.notifications-scroll {
max-height: 350px; /* Adjust the max height as needed */
overflow-y: auto;
}

.notifications-list {
padding: 0;
margin: 0;
}



.heading {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notifications-icon {
  margin-right: 6px;
}



.notification {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-left-color 0.3s ease;
}

.notifications-container {
  max-width: 1380px;
  margin: 22px auto;
  padding: 20px;
  background-image: linear-gradient(#ffb74d, #ffe9c3);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.notification:hover {
  border-left-color: #4c9aff;
}

.notification-content {
  flex: 1;
}

.notification-sender {
  font-weight: bold;
  color: #555;
}

.notification-message {
  margin-top: 5px;
  color: #777;
}

.delete-button {
  background-color: #ff595e;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #e04449;
}

.empty-message {
  text-align: center;
  color: #555;
}
.notification:hover .notification-content {
  border-left: 4px solid #4c9aff;
}