.browseItem{
    display: inline-block;
    width: 500px;
    height:350px;
    text-align: center;
    margin: 20px;
    background-color: #EFD9D1;
    
}

.browseItem img{
    padding-top: 40px;
    width: 150px;
    height: 150px;
}


